/* LOGO */

.logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */

nav a.nav-link {
  cursor: pointer;
}

nav ul li {
  padding: 0rem 1rem;
  text-transform: uppercase;
}

.navbar-nav {
  margin-left: 13rem;
}
